<% provide(:title, '投稿一覧') %>


<div class="main posts-index">
  <h1>投稿一覧</h1>
  <div class="container">
    <table class="table">
      <tbody>
      <% @posts.each do |post| %>
        <div class="posts-index-item">
          <div class="post-index-left">
            投稿日：<%= l(post.created_at, format: :long) %><br>
            投稿者：<%= link_to(post.user.name, "/users/#{post.user.id}") %><br>
            店舗名：<%= link_to(post.store_name, "/users/#{post.user_id}/posts/#{post.id}") %><br> <!-- 遷移先のurl記述に苦労した！「/」ないだけでおかしくなる！ -->
            メニュー名：<%= post.menu %><br>
            料金：<%= post.price %>円<br>
            コメント：<%= post.comment %><br>
          </div>
          <div class="post-right">
            <% if post.image.present? %>
              <%= image_tag "/post_#{post.id}.png" %>
            <% else %>
              <%= image_tag "/default.png" %>
            <% end %>
          </div>
        </div>
      <% end %>
      </tbody>
    </table>
  </div>
</div>